*{
    padding: 0;
    margin: 0;
    font-family: "DM sans" !important;
}

header{
    width: 100%;
    height: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
}

/* logo image*/
header .logo{
    width: 20px;
    height: 20px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
}

/* search icon */
header .search-icon{
    font-size: 18px;
    padding: 0 0 0 80px ;
    transition: 0.5s;
    display: flex;
    align-items: center;
}
header .search-icon:hover{
    color: #5BBB7B;
}

/* ---------Navigations -------------*/
header nav{
    padding: 0 20px;
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li{
    padding: 0 10px;  
    position: relative;
}


header nav  ul  li > a{
    display: inline-block;
    font-size: 13px;
    color: #222222;
    font-weight: 500;
    text-decoration: none; 
    text-transform: capitalize; 
    transition: all 0.3s ease-in-out 0s;
    position: relative;

}
nav ul li a i{
    font-size: 6px;
    padding: 0 5px;
}
header nav  ul  li a:hover:not(.Dropdown-menue ul li a){
    color: #5BBB7B;
}

header nav ul .navigations > a{
    position: relative;
    top: 0;
    left: 0;
    padding: 30px 0;
    border: 1px solid red;
}


nav > ul > li > a::before{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 0.6vh;
    background-color: #5BBB7B;
    top: 0;
    transition: all ease-in-out 0.3s;
}
nav ul li a:hover::before{
    width: 100%;
}

    /* -------------Dropdowns------------- */
.Dropdown-menue{
    display: flex;
    position: absolute;
    top: 10%0;
    left:  10px;
    background-color: #fff;
    border-top: 1px solid #222222;
    z-index: 3;
    
}

.Dropdown-menue ul{
    display: block;
    
}
.Dropdown-menue ul li{
    padding: 10px;
    width: 160px;
    height: 0;
    
    display: none;
    transition: width 1s, height 0.5s;
    
}
.Dropdown-menue ul li a{
    padding-left: 10px;
    
}
.Dropdown-menue ul li:hover:not(.active){
    background-color: #F0EFEC;
    border-left: 2px solid #5BBB7B;
}
.Dropdown-menue ul .active{
    background-color: #F0EFEC;
    border-left: 2px solid #5BBB7B;
}

.nav_home:hover .Dropdown-menue ul li{
    display: block;
    height: auto;
}












/*------------ style for Links and button placed right side------------*/
header .seller{
    margin-left: 18%;
    box-sizing: border-box;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;

}
header .seller button{
    background: none;
    border: none;
}
header .seller button a{
    display: inline-block;
    text-decoration: none;  
    transition: 0.5s;
    font-size: 13px;
    color: #222222;
    font-weight: 500;
}
header .seller button a:hover{
    color: #5BBB7B;
}

header .seller .signUp{
    border: 1px solid #222222;
    width: 5em;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

header .seller .signUp:hover{
    background-color: #5BBB7B;
    border: none;
    color: #fff;
}







/* -----------------------------------------------------section1----------------------------------------- */
.section1{

    width: 100%;
    height: 87.8vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('./images/section1.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section1 .text_in_image{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-sizing: border-box;
    width: 45%;
    line-height: 1;
    transition: all ease-in-out 1s;
}
.section1 .text_in_image h2{
    color: #fff;
    font-size: 45px;
    text-align-last: center;
    font-family: "Alata";
    line-height: 1.25;
}
.section1 .text_in_image p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
}

/* -----  buttons ------- */
.section1 .text_in_image .find{
    margin-left: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 25px;
}
.text_in_image .find a{
    margin-left: 15px;
    width: 20%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.6s;
}
.text_in_image .find a:hover{
    background-color: #5BBB7B;
    color: #fff;
}
.text_in_image .find  a{
    text-align: center;
    text-decoration: none;
    color: #222222;
    font-weight: 500px;  
}

.text_in_image .find .talent{
    margin-left: 15px;
    width: 20%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #222222;
    transition: 0.6s;
    color: #fff;

}
.text_in_image .find .talent:hover{
    background-color: #1F4B3F;
    color: #fff;
}



/* --------------------------------------------------------section-2--------------------------------------------- */

.section-2{
    margin-top: 7%;
    width: 88%;
    border: 1px solid red;
    height: 82vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.section-2 h2{
    font-size: 30px;
}
.section-2 .view_more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;

}
    .view_more span{
        opacity: 0.5;
        
    }
    .view_more a{
        text-decoration: none;
        font-size: 15px;
        display: flex;
        align-items: center; 
        color: #222222;
        transition: 0.3s;
    }

    .view_more a i{
        padding-left: 5px;
        font-size: 15px;
    }
    .view_more a:hover{
        color: #5BBB7B;
    }

/* ---------------image Services----------------------- */
.section-2 .image-service{
    margin-top: 5%;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: visible;
    height: auto;
}
.image-service .boxes{

    display: flex;
    align-items: center;
    
}
/* Image wrapper */
.image-service .image-wrapper{
    width: 285px;
    height: 60vh;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-right: 14px;
}
.image-service .image-wrapper .love-icon i{
    position: absolute;
    z-index: 200;
    background-color: #fff;
    top: 1.5em;
    right: 1em;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #8B9094;
    font-size: 15px;
    transition: 0.3s;
}
.image-service .image-wrapper .love-icon i:hover{
    background-color: #5BBB7B;
    border: none;
    color: #fff;
}
.image-wrapper img{
    width: 100%;
    height: auto;
}
.image-wrapper .love-icon i{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 3em;
    background-color: #fff;

}


.image-wrapper:not(.section5  .image-wrapper){
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.image-wrapper:hover  .service-title a{
    text-decoration: underline;
    color: #89CEA0;
    
}



/* Image service Content */
.image-service .image-wrapper .image-service_contant{
    border: none;
    width: 86%;
    margin: auto;
    line-height: 3;
    font-size: 15px !important;
    box-sizing: border-box;
    overflow: hidden;
    
}

/* Category services */
.image-service_contant .categort-service a{
    font-size: 15px;
    color: #515151;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
}
.image-service_contant .categort-service a:hover{
    color: #515151;
    opacity: 1;
}

/* Service title */
.image-service_contant .service-title{
    line-height: 1.25; 
}
.image-service_contant .service-title a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
    
}
.image-service_contant .service-title a:hover{
    text-decoration: underline;
    color: #89CEA0;
}
/* rating review */
.image-service_contant  .rating-raview{
    padding-left: 0 15px;
}
.image-service_contant  .rating-raview i{
    color: #E1C03F;
    font-size: 11px;
}
.image-service_contant  .rating-raview span.rate-txt{
    opacity: 0.6;
    font-size: 13px;
    /* padding-left: 5px; */
}

/* personal detail */
.image-service_contant  .personal-deatil{
    display: flex;
    align-items: center;
}
.image-service_contant  .personal-deatil img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.image-service_contant  .personal-deatil .name a{
    font-size: 12px;
    padding: 3px;
    text-decoration: none;
    color: #222222;
    transition: 0.3s;
}
.image-service_contant  .personal-deatil .name a:hover{
    color: #5BBB7B;
}
.image-service_contant  .personal-deatil .starting-mony{
    font-size: 12px;
    padding-left: 25px;
}
/* --------------------------------------------------------section-3--------------------------------------------- */
.Section3{
    height: 52vh;
}
.image-service .boxes .categories {
    width: 150px;
    height: 30vh;
    border: 1px solid #C9C9CA;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin-right: 23px;
}
.image-service .boxes .categories:hover{
    border-color: #222222;
}
.categories .categories_content{
    position: absolute;
    left: 1em;
    
    line-height: 2.8;
}
.categories .categories_content i{
    position: relative;
    font-size: 30px;
    color: #222222;
}
.categories .categories_content i::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 5px;
    z-index: -1;
    background-color: #FBF7ED;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
}

.categories .categories_content h5{
    padding-top: 8px;
    font-size: 10px;
    color: #878787;
    font-family: "DM sans" !important;
    
}
.categories .categories_content p{
    font-size: 17px;
    line-height: 1.25;
    color: #3D3D3D;
}

/* ------------------------------------------------<!-- Section4 -->------------------------------------------ */
.section4{
    width: 100%;
    background-color: #F0EFEC;
    height: 120vh;
    border-radius: 40px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 6%;
    border-radius: 5px;
}

.section4 .section-2{
    margin-top: 5em;
    width: 88%;
    overflow: visible;
    height: 100vh;
}

.lastest-projects{
    display: flex;
    align-items: center;
    
}

.lastest-projects .projects{
    margin-top: 4%;
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 55%;
    height: 27vh;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 23px;
    flex-wrap: wrap;
    
}
.flex-rab{
    display: flex;
}
.lastest-projects .project-3{
    margin-right: 5px;
}
 .projects .image{
    width: 17%;
    height: 29vh;
    border: none;
}
.projects .image img{
    margin-top: 18px;
    width: 55px;
    height: auto;
    margin-left: 10px;
}

.lastest-projects .projects .content{
    margin-left: 23px;
    width: 73%;
    height: 23vh;
    border: none;
    line-height: 2;
    overflow: visible;
    position: relative;
}
.lastest-projects .projects .content .love-icon i{
    position: absolute;
    z-index: 500;
    top: 0.5em;
    right: 0.1em;
    background-color: #fff;
    font-size: 1em;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid #C9C9CA;
    transition: all ease-in-out 0.3s;
}
.lastest-projects .projects .content .love-icon i:hover{
    background-color: #5BBB7B;
    border: none;
    color: #fff;

}
.projects .content h2{
    line-height: 1;
}
.projects .content h2 a{
    font-size: 13px;
    text-decoration: none;
    color: #222222;  
}
.projects .content h3 a{
    font-size: 15px;
    text-decoration: none;
    color: #5BBB7B;  
}

/* location */
.projects .content .inner-information .location{
    display: flex;
    align-items: center;
}
.projects .content .inner-information .location i, .projects .content .inner-information .location span{
    font-size: 13px;
    opacity: 0.5;
    padding-right: 10px;
}
.projects .content .inner-information .location span{
    border-right: 1px solid rgba(0.98, 0.97, 0.93, 0.5);    
}
/* months */
.projects .content .inner-information .months{
    display: flex;
    align-items: center;
}
.projects .content .inner-information .months i, .projects .content .inner-information .months span{
    font-size: 13px;
    opacity: 0.5;
    padding-right: 10px;
}
.projects .content .inner-information .months span{
    border-right: 1px solid rgba(0.98, 0.97, 0.93, 0.5);    
}
/* Proposals */
.projects .content .inner-information .Proposals{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.projects .content .inner-information .Proposals i, .projects .content .inner-information .Proposals span{
    font-size: 13px;
    opacity: 0.5;
    padding-right: 10px;
}
.months_prppossals{
    display: flex;
    align-items: center;
    
}
/* project 2 */
.location_months{
    display: flex;
    align-items: center;
    
}
.location_months .months{
    padding-left: 15px;
}
/* --------------------------------------------------------section 5------------------------------------------------------------ */

.section5 .section-2{
    height: 83vh;
}
.section5  .image-wrapper{
    text-align: center;
    background-color: #fff;
}

.section5  .image-wrapper a img{
    margin-top: 7%;
    width: 30%;
    height: auto;
    border-radius: 100%;
}
.section5  .image-service_contant  .categort-service a{
    color: #222222;
    opacity: 2.0;
}
.section5  .image-service_contant  .categort-service a:hover{
    color: #5BBB7B;
}
.section5 .image-service_contant .service-title {
    opacity: 0.5;
}
.section5 .image-service_contant .tags{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.section5 .image-service_contant .tags a{
    text-decoration: none;
    background-color: #FBF7ED;
    margin-right: 5px;
    font-size: 11px;
    color: #222;
    width: 33%;
    border-radius: 40px;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
}
.section5 .image-service_contant .tags a:hover{
    background-color: #222;
    color: #fff;
}

.section5 .image-service_contant .tags a.tag2{
    width: 45%;
}
.section5 .image-service_contant .location-rate{
    margin-top: 10px;
    display: flex;
    align-items: center;
    

}
.section5 .image-service_contant .location-rate .location{
    
    font-size: 13px;
}
.section5 .image-service_contant .location-rate .rate{
    text-align: left;
    font-size: 13px;
    margin-left: 80px;
}
.section5 .image-service_contant .location-rate .location, .section5 .image-service_contant .location-rate .rate{
    line-height: 2;
}

.section5 .image-service_contant .view--profail a{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100%;
    border: 2px solid;
    border-radius: 8px;
    font-size: 13px;
    background: none;
}
.section5 .image-service_contant .view--profail a i{
    padding-left: 10px;
}



/* -----------------------------------------------------section 6---------------------------------------------------------------- */

.sectin6{
    margin-top: 8%;
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1px solid blue;
    
}
.sectin6 .flraalancer_talent{
    background-color: #FFEDE9;
    width: 83%;
    height: 100vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}
.sectin6 .flraalancer_talent .freelacer_talent_taxt{
    width: 36%;
    position: absolute;
    top: 8em;
    left: 6em;
    border: none;
    overflow: visible;
    line-height: 2;
}
.sectin6 .flraalancer_talent .freelacer_talent_taxt h2{
    margin-bottom: 35px;
    line-height: normal;
}
.sectin6 .flraalancer_talent .freelacer_talent_taxt .freelacer_talent_fingertips{
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    height: 13vh;
    line-height: 1;
   
}
/* .sectin6 .flraalancer_talent .freelacer_talent_taxt .freelacer_talent_fingertips h4{line-height: normal;} */
.sectin6 .flraalancer_talent .freelacer_talent_taxt .freelacer_talent_fingertips .icon{
    width: 11%;
    border: none;
    height: 10vh;
    margin-top: 5px;
    
}
.sectin6 .flraalancer_talent .freelacer_talent_taxt .freelacer_talent_fingertips .icon i{
    font-size: 30px;
    color: #222;
    opacity: 0.7;
    text-align: left;
    
}
.sectin6 .flraalancer_talent .freelacer_talent_taxt .freelacer_talent_fingertips .info{
    line-height: 1.8;
    
}
.sectin6 .flraalancer_talent .freelacer_talent_taxt .freelacer_talent_fingertips .info p{
    opacity: 0.7;
    font-size: 13px;
}

.sectin6  .right_img{
    margin-top: 4%;
    position: absolute;
    top: 0;
    right: 0;
}
.sectin6  .right_img img{
    height: 85vh;
    border-radius: 20px;
}

.sectin6 .info_on_picture{
    background-color: #222222;
    width: 25%;
    height: 35vh;
    position: absolute;
    top: 14em;
    right: 21em;
    line-height: 1;
    border-radius: 20px;
}
.sectin6 .info_on_picture .flex{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 2em 0  0 3em;
    
}
.sectin6 .info_on_picture .flex i{
    margin-right: 8px;
}

















/* -----------------------------------
-----------------------------------
-----------------------------------
----------------------------------- */




/* ------------------------------------------------------------------section6------------------------------------------- */














